<!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= yield %>

  <script>
  Setup.initialize();
  </script>

</body>
</html>
